/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.about {
    height: 50%;
    width: 100%;
    display: flex;
    padding: 10px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    font-size: 16px;

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.about h2 {
    font-size: 30px;
    background: linear-gradient(to right, #efcc9a, #faa945); /* Your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.link-icon {
    height: 32px;
    width: 32px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.intro h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .intro {
        font-size: 10px;
    }
}

.about-s {
    border-radius: 10px;
    background-color: #374f2f;
    max-width: 600px;
    width: 100%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5); 
}

p {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    color: #FEFAE0;
}

h3 {
    margin: 5px;
    margin-left: 30px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-color: #45462A;
    text-underline-offset: 5px;
    color: #FEFAE0;
}

.links {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

@media (max-width: 700px) {
    .about-s {
        width: 70%;
    }

    .intro {
        width: 70%;
    }
}