form {
    display: grid;
    justify-items: center;
    gap: 5px;
    width: 100%;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 3%;
}

.contact h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.label {
    color: black;
}

.form-input {
    margin-bottom: 10px;
    margin-top: 5px;
    width: 40%;
    resize: none;
    height: 30px;
    padding: 10px;
}

.message-input {
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    width: 40%;
}

.submit-button {
    background-color: #4CAF50;
    width: 20%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 4px 2px;
    border-radius: 5px;
    text-decoration: none;
    --bs-btn-active-bg: #45462A;
    --bs-btn-active-border-color: #45462A;
}

.submit-button:hover {
    background-color: #3e8e41;
    color: white;
}

.submit-button:active {
    background-color: #45462A;
    border-color: #45462A;
    color: white;
}

@media (max-width: 1200px) {
    .form-input {
        width: 60%;
    }
    .submit-button {
        width: 30%;
    }
    .message-input {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .form-input {
        width: 70%;
    }
    .submit-button {
        width: 40%;
    }
    .message-input {
        width: 70%;
    }
}