html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-section {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 14%;
    scroll-margin-top: 200px;
    background-color: #5b705a;
    width: 150%;
    border-radius: 0 0 50% 50%;
}

.skills {
    width: 170%;
    padding-left: 45%;
    padding-right: 45%;
    padding-bottom: 15%;
    margin-top: 7%;
    scroll-margin-top: 200px;
    border-radius: 0 0 50% 50%;
    background-color: #f9f9f9;
    z-index: 100;

    position: relative;
    bottom: -150px;
}

@media (max-width: 800px) {
    .skills {
        padding-left: 10%;
        padding-right: 10%;
    }
}


.projects {
    padding-top: 20%;
    padding-bottom: 14%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    scroll-margin-top: -200px;

    background-color: #dfe1d9;
    border-radius: 0 0 50% 50%;
    width: 250%;
}

.contact {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-bottom: 7%;
}

@media (max-width: 800px) {
    .contact {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.project-grid a {
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-grid li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid;
    border-color: forestgreen;
    width: 500px; */
}

.project-grid li:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-grid li:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-grid li:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-title {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-underline-offset: 10px;
    background: linear-gradient(to right, #809671, #725C3A); /* Your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.project-p {
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-underline-offset: 10px;
    font-style: italic;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 1s;
}

.project-grid {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}