.navbar {
  padding-left: 15px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar a {
  max-width: 150px;
  color: black;
  }

.link {
  background-image: linear-gradient(black, black);
  background-size: 0% 0%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: .4s;
  padding-left: 5px;
  padding-right: 5px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.link:hover {
  background-size: 100% 3px;
  background-position: bottom;
}

@media (max-width: 575px) {
  .link {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}