.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.project-layout {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 30px;
    margin-left: 10%;
    margin-right: 10%;

    width: 100%;

    max-width: 960px;
}

.leftside {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 7fr 2fr;
    grid-template: "Area-3 Area-2" "Area Area" / 7fr 2fr;
    align-items: start;
    justify-items: stretch;
    overflow: visible;
    width: 100%;
    margin-left: 20%;
    border-radius: 20px;
    background-color: #b5bda5;
    padding: 50px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5); 
}

.name {
    height: 100%;
    border-right: 1px solid black;
    padding-right: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: left;
    grid-area: Area-3;
}

.name h1 {
    font-size: 40px;
    font-family: superior-title, serif;
    font-weight: 400;
    font-style: bold;
}

.number {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number h2 {
    font-size: 20px;
    font-family: Pitchsans Regular, sans;
    font-weight: 300;
    font-style: normal;
    color: black;
}

.description {
    grid-area: span 1 / span 2 / span 1 / span 2;
    border-style: solid none none;
    border-width: 1px;
    border-color: black;
    padding-top: 24px;
}

.description p {
    font-size: 16px;
    display: flex;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}

.rightside {
    justify-self: end;
    margin-right: 10%;
}

.rightside img {
    width: 254px;
    height: 493px;
    border: 4px solid white;
    border-radius: 32px;
    box-shadow: 17px 17px 48px white;
}