@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.education {
    display: grid;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.main-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* border-style: solid; */
    /* border-color: #45462A;
    background-color: whitesmoke; */
    border-right: solid;
    border-width: 1px;
}

.skill-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* border-style: solid; */
    /* border-color: #45462A;
    background-color: whitesmoke; */
}

.skill-box li, .skill-box-3 li {
    margin: 10px;
}

.skill-box li h1, .skill-box-3 li h1{
    font-size: 30px;
    /* text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px; */
}

.skill-section-disc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-section-disc li h1 {
    font-size: 20px;
}

.backend {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.databases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
}

.text {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border-color: #CEC8BC;
    background-color: #8C8477; */
    border-radius: 60px;
    width: 100%;
}

.text h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: linear-gradient(to right, #3d19dd, #e70707); /* Your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #EAE4D6 */
}

.text h2 {
    font-size: 16px;
    font-style: italic;
    /* color: #EAE4D6 */
}

.education li {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* .skill-icon {

} */


h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}