@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.about {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    padding: 10px;
}

.link-icon {
    height: 32px;
    width: 32px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.description {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}