html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-section {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    padding-top: 15%;
    scroll-margin-top: 200px;
}

.skills {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 15%;
    margin-top: 10%;
    scroll-margin-top: 200px;
}

@media (max-width: 800px) {
    .skills {
        padding-left: 2%;
        padding-right: 2%;
    }
}


.projects {
    margin-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    scroll-margin-top: 250px;
}

.contact {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-bottom: 7%;
}

@media (max-width: 800px) {
    .contact {
        padding-left: 2%;
        padding-right: 2%;
    }
}

.project-grid a {
    display: grid;
    justify-items: center;
    align-items: center;
}

.project-grid li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid;
    border-color: forestgreen;
    width: 500px; */
}

.project-grid li:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-grid li:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-grid li:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-title {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 10px;
}

.project-p {
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-underline-offset: 10px;
    font-style: italic;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 1s;
}