body {
    min-height: 100%;
    margin: 0;
    background-color: #F0EAD6;
}

.start {
    text-align: center;
    padding: 10px;
}

.homepage {
    color: black
}

.welcome:hover {
    animation-name: rotate;
    animation-duration: 0.7s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}