html,
body {
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

h1 {
    color: black;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    width: auto;
    gap: 100px;
}

.about-section {
    padding: 50px;
    height: 150vh;
    scroll-margin-top: 200px;
}

.skills {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
}

.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 100vh;
    gap: 10px;
}

.contact {
    padding: 50px;
    height: 100vh;
}

.project-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.project-grid li:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-grid li:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-grid li:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-grid li:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 2s;
}