.navbar {
  padding-left: 15px;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar a {
  max-width: 150px;
  color: black;
  }

.navbar a:hover {
  color: white;
}

.link {
  background-image: linear-gradient(black, black);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .4s;
}

.link:hover {
  background-size: 100% 100%;
}

.home {
}

.home:hover {
  transform: scale(1.1)
}